@model esencialAdmin.Models.SubscriptionViewModels.SubscriptionPeriodeViewModel

<div class="periode-container">
    <fieldset class="periodesFields">

        <div class="grid">
            <div class="row row-space-between">
                <div class="col-3 col-medium-6 col-small-12">
                    <h4>Zeitraum:</h4> @Model.StartDate.ToString("dd.MM.yyyy") - @Model.EndDate.ToString("dd.MM.yyyy") <br /><br />
                    <h4>Zahlungsstatus:</h4>

                    <strong><label asp-for="@Model.Price"></label>:</strong> @Model.Price.ToString("C")<br />
                    <strong><label asp-for="@Model.Payed"></label>:</strong>

                    <label>
                        <input type="checkbox" class="periodePayedCheckbox" id="payed_@Model.ID" value="@Model.ID" @if (Model.Payed) { @("checked")   }>
                    </label>
                    @if (Model.Payed)
                    {
                        <br /><strong><label asp-for="@Model.PayedDate"></label>:</strong> @Model.PayedDate.Value.ToString("dd.MM.yyyy");
                    }
                    <br /><br />
                    <label asp-for="@Model.PaymentReminderSent"></label>:

                    <label>
                        <input type="checkbox" class="periodePaymentReminderCheckbox" id="reminder_@Model.ID" value="@Model.ID" @if (Model.PaymentReminderSent) { @("checked")    }>
                    </label>
                    @if (Model.PaymentReminderSent)
                    {
                        <br /><strong><label asp-for="@Model.PaymentReminderSentDate"></label>:</strong> @Model.PaymentReminderSentDate.Value.ToString("dd.MM.yyyy");
                    }
                    <br /><br />
                    <div class="paymentMethodContainer" @if (Model.Payed) { @("style='display:none'")   }>
                        <div class="mui-select">
                            @{

                                var selectList = new List<SelectListItem>();
                                foreach (var tmp in Model.PaymentMethods)
                                {
                                    SelectListItem item = new SelectListItem();
                                    item.Value = tmp.Id.ToString();
                                    item.Text = tmp.Name;
                                    if (tmp.Id == Model.PaymentMethodID)
                                    {
                                        item.Selected = true;
                                    }

                                    selectList.Add(item);
                                }
                            }

                            <select asp-for="PaymentMethodID" class="paymentMethodSelect" id="PaymentMethodSelect" asp-items="selectList"></select>
                            <label asp-for="PaymentMethodID"></label>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-medium-6 col-small-12">
                    <h4>Ernteanteil Status:</h4>
                    @{ int goodyNR = 1;
                        @foreach (var g in Model.Goodies)
                        {
                            <strong>@Model.GoodiesLabel @goodyNR</strong> @("(für " + @g.SubPeriodeYear + ")")<br />

                            <label>Erhalten?:</label>
                            <label>
                                <input type="checkbox" class="goodyCheckbox" id="goody_@g.ID" value="@g.ID" @if (g.Received) { @("checked")    } @if (g.SubPeriodeYear > DateTime.UtcNow.Year) { @("")    }>
                            </label>
                            goodyNR++;
                            <br /><br />
                        }
                    }
                </div>
                <div class="col-3 col-medium-6 col-small-12">
                    @if (Model.GiftetBy != null)
                    {
                        <h4><label asp-for="@Model.GiftetBy"></label>:</h4>
                        @Html.DisplayFor(x => x.GiftetBy)
                    }
                </div>
            </div>
        </div>
    </fieldset>
</div>