@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model esencialAdmin.Models.SubscriptionViewModels.SubscriptionEditViewModel

@{

    ViewData["Title"] = "Patenschaft für " + Model.Customer.FirstName + " " + Model.Customer.LastName + " bearbeiten";
}
<form method="post" asp-controller="Subscription" class="grid mui-form">
    <div class="row  row-equal">
        <div class="col-12 col-medium-12 col-small-12">
            <div class="mui-panel">
                <div class="grid">
                    <div class="row row-space-between">
                        <div class="col-6 col-medium-6 col-small-12">
                            <div class="mui--text-headline">
                                @ViewData["Title"]
                            </div>
                        </div>
                        @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
                        {
                            <div class="col-6 col-medium-6 col-small-1 mui--text-right">
                                <button type="submit" asp-action="PrintCertificate" asp-controller="Pdf" asp-route-id="@Model.ID" asp-route-TemplateID="@Model.TemplateID" class="mui-btn mui-btn--primary">Zertifikat herunterladen</button>

                                @if (@Model.ID != 0)
                                {
                                    <button type="button" class="mui-btn mui-btn--danger" onclick="SubscriptionDeleteConfirmation(@Model.ID)">Patenschaft löschen</button>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  row-equal">
        <div class="col-8  col-medium-8 col-small-12">
            <div class="mui-panel">
                <div class="mui--form-title">Patenschafts Daten</div>
                <div class="grid">
                    <div class="row">
                        <div class="col-6 col-medium-12 col-small-12">
                            <strong><label asp-for="Customer"></label>:</strong> <br />

                            @Html.DisplayFor(x => x.Customer)

                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <p>
                                <strong><label asp-for="Plan"></label>:</strong> <br />
                                @Model.Plan.Name <br /><br />
                                <strong><label asp-for="PlantNumber"></label>:</strong> @Model.PlantNumber <br />
                                <strong><label asp-for="Plan.Price"></label>:</strong> @Model.Plan.Price.ToString("C")<br />
                            </p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        @if (@Model.ID != 0)
        {
            <div class="col-4  col-medium-4 col-small-12">
                <div class="mui-panel">
                    <div class="mui--form-title">
                        Status
                    </div>
                    <h4><label asp-for="StatusLabel" id="StatusLabel" data-status-id="@Model.StatusID"></label>: <strong>@Model.StatusLabel</strong></h4>
                    @if (Model.StatusID == 2)
                    {
                        <div class="mui-panel panel-warning">
                            <p>Warnung: Patenschaft läuft dieses Jahr aus</p>
                            <input type="hidden" value="@Model.ID" name="subscriptionID" />

                            <button asp-action="renewSubscription" class="mui-btn">Verlängern?</button>
                            <p>(Hinweis: Bei einer Verlängerung Kunde anschreiben)</p>
                        </div>

                    }
                    else if (Model.StatusID == 3)
                    {
                        <div class="mui-panel panel-warning">
                            <p>Warnung: Kunde hat Rechnung noch nicht bezahlt!</p>
                        </div>

                    }
                    else if (Model.StatusID == 4)
                    {
                        <div class="mui-panel panel-warning">
                            <p>Warnung: Patenschaft ist inaktiv</p>
                            <input type="hidden" value="@Model.ID" name="subscriptionID" />

                            <button asp-action="renewSubscription" class="mui-btn">Erneuern?</button>
                        </div>

                    }
                    <br /><br />
                    <strong><label asp-for="DateCreated"></label>:</strong> @Model.DateCreated<br />
                    <strong><label asp-for="UserCreated"></label>:</strong> @Model.UserCreated<br />
                    <strong><label asp-for="DateModified"></label>:</strong> @Model.DateModified<br />
                    <strong><label asp-for="UserModified"></label>:</strong> @Model.UserModified<br />

                </div>

            </div>
        }
    </div>
    <div class="col-12  col-medium-12 col-small-12">
        <div class="mui-panel">
            <div class="mui--form-title">
                Perioden
            </div>
            <div class="periodeWrapper" data-slick='{"initialSlide": @Model.Periodes.FindLastIndex(x => x.CurrentPeriode)}'>
                @Html.DisplayFor(x => x.Periodes)
            </div>
            <button class="slick-prev mui-btn mui-btn--flat" aria-label="Previous" type="button">
                <i class="material-icons">arrow_back</i> Vorherige
            </button>
            <button class="slick-next mui-btn mui-btn--flat" aria-label="Next" type="button">
                Nächste <i class="material-icons">arrow_forward</i>
            </button>
        </div>
    </div>
</form>
<div class="col-12  col-medium-12 col-small-12">
    <div class="mui-panel">
        <div class="mui--form-title">Bilder</div>
        <form method="post" enctype="multipart/form-data" asp-controller="Subscription" asp-action="uploadImageForUser">
            <div>
                <p>Dateien auswählen</p>
                <input type="file" name="files" multiple />
                <input type="hidden" value="@Model.ID" name="subscriptionID" id="subscriptionID" />
                <input type="submit" class="mui-btn mui-btn--primary" value="Hochladen" />
            </div>
        </form>
        <br /><br />
        @foreach (var photoPath in Model.Photos)
        {
            <div class="col-thumbImages">

                <form method="post" enctype="multipart/form-data" asp-controller="Subscription" asp-action="uploadImageForUser">

                    <div class="previewPhotoContainer">
                        <img src="@photoPath.Value" />
                        <input type="hidden" name="fileID" value="@photoPath.Key" />
                        <input type="hidden" name="filePath" value="@photoPath.Value" />

                        <button asp-action="deleteImage" asp-controller="File" class="mui-btn--small mui-btn--fab mui-btn--danger remove-photo-fab"><i class="material-icons">delete</i></button>
                        <button asp-action="downloadImage" asp-controller="File" class="mui-btn--small mui-btn--fab mui-btn--primary download-photo-fab"><i class="material-icons">file_download</i></button>

                    </div>
                </form>
            </div>
        }
    </div>
</div>
<environment include="Development">
    @section scripts {
        <script src="~/lib/sweetalert2/sweetalert2.js" asp-append-version="true"></script>
        <script src="~/lib/slick/slick.js" asp-append-version="true"></script>
        <script src="~/js/subscriptionEdit.js" asp-append-version="true"></script>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

    @section styles {
        <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="~/lib/slick/slick.css" />
        <!-- Add the slick-theme.css if you want default styling -->
    }
</environment>
<environment include="Production,Preview">
    @section scripts {
        <script src="~/js/subscriptionEdit.min.js"></script>
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

    @section styles {
        <link rel="stylesheet" href="~/css/subscriptionEdit.min.css" />
    }
</environment>