@model essentialAdmin.Models.EmployeeViewModels.EmployeeEditViewModel

@{
    ViewData["Title"] = "Kunde bearbeiten";
    ViewData["EmployeeName"] = Model?.FirstName + " " + Model?.LastName;
}

<form method="post" asp-controller="Employee" class="grid mui-form">
    <div class="row  row-equal">
        <div class="col-12 col-medium-12 col-small-12">
            <div class="mui-panel">
                <div class="grid">
                    <div class="row row-space-between">
                        <div class="col-6 col-medium-6 col-small-12">
                            <div class="mui--text-headline">
                                Mitarbeiter: @ViewData["EmployeeName"]
                            </div>
                        </div>
                        <div class="col-6 col-medium-6 col-small-1 mui--text-right">
                            <button type="submit" class="mui-btn mui-btn--primary">Speichern</button>


                            @if (@Model != null)
                            {
                                <button type="button" class="mui-btn mui-btn--danger" onclick="EmployeeDeleteConfirmation('@Model.currentEmail')">Kunde löschen</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  row-equal">
        <div class="col-8  col-medium-8 col-small-12">
            <div class="mui-panel">
                <div class="mui--form-title">Daten</div>
                <div class="grid">
                    <div class="row">

                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="FirstName" />
                                <label asp-for="FirstName"></label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="LastName" />
                                <label asp-for="LastName"></label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-textfield">
                                <input asp-for="Email" />
                                <label asp-for="Email"></label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-medium-12 col-small-12">
                            <div class="mui-select">
                                @{
                                    var selectList = new List<SelectListItem>();
                                    foreach (var tmp in Model.EmployeeRoles)
                                    {
                                        SelectListItem item = new SelectListItem();
                                        item.Value = tmp.Role;
                                        item.Text = tmp.Role;
                                        selectList.Add(item);
                                    }
                                }

                                <select asp-for="Role" id="RoleSelect" asp-items="selectList">
                                    <option>Bitte auswählen</option>
                                </select>
                                <label asp-for="Role"></label>
                                <span asp-validation-for="Role" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-medium-12 col-small-12">
                            <input asp-for="currentEmail" type="hidden" />
                            <br /><br /><br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4  col-medium-4 col-small-12">
            <div class="mui-panel">
                <div class="mui--form-title">
                    Status
                </div>
                @*@if (@Model != null)
                    {
                        <strong><label asp-for="DateCreated"></label>:</strong> @Model.DateCreated; <br />
                        <strong><label asp-for="UserCreated"></label>:</strong> @Model.UserCreated; <br />
                        <strong><label asp-for="DateModified"></label>:</strong> @Model.DateModified; <br />
                        <strong><label asp-for="UserModified"></label>:</strong> @Model.UserModified; <br />
                    }*@
            </div>

        </div>

    </div>
</form>

<environment include="Development">
    @section scripts {
        <script src="~/lib/sweetalert2/sweetalert2.js" asp-append-version="true"></script>
        <script src="~/js/employee.js" asp-append-version="true"></script>
    }

    @section styles {
        <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css" />
    }
</environment>
